@model TPLOCAL1.Models.PersonalInformation
    @{
        ViewData["Title"] = "FORM Validation";
        ViewData["h1"] = "Validation Page";
        ViewData["Link1"] = "/Home/Index";
        ViewData["Link2"] = "/Home/Index/List";
        ViewData["linkTitle1"] = "Welcome Page";
        ViewData["linkTitle2"] = "Avis List";
    }
    <p style="margin-left: 210px"> Your form has been taken into account</p>
     <section class="form">
            <table>
                <caption>Personal Information</caption>
                <tr>
                    <th>Name</th>
                    <td>
                         @ViewData["Name"]                       
                    </td>
                </tr>
                <tr>
                    <th>Forename</th>
                    <td>
                        @ViewData["Forename"]
                    </td>
                </tr>
                <tr>
                    <th>Gender</th>
                    <td>
                        @ViewData["Gender"]
                    </td>
                </tr>
                <tr>
                    <th>Address</th>
                    <td>
                        @ViewData["Address"]
                    </td>
                </tr>
                <tr>
                    <th>Zip Code</th>
                    <td>
                        @ViewData["ZipCode"]
                    </td>
                </tr>
                <tr>
                    <th>Town</th>
                    <td>
                        @ViewData["Town"]
                    </td>
                </tr>
                <tr>
                    <th>Email Address</th>
                    <td>
                        @ViewData["EmailAddress"]
                    </td>
                </tr>
            </table>
            <table>
                <caption>Following Formation's Information</caption>
                <tr>
                    <th>Formation Debut Date</th>
                    <td>
                        @ViewData["StartDateTraining"]
                    </td>
                </tr>
                <tr>
                    <th>Following Formation</th>
                    <td>
                        @ViewData["TypeTraining"]
                    </td>
                </tr>
            </table>
            <table>
                <caption>Opinion on Formations</caption>
                <tr>
                    <th>Formation COBOL</th>
                    <td>
                        @ViewData["CobolTraining"]
                    </td>
                </tr>
                <tr>
                    <th>Formation C#</th>
                    <td>
                        @ViewData["TrainingPurpose"]
                    </td>
                </tr>
            </table>
    </section>

